

:root{
    --primarycolor: #106364;
    --secondarycolor: #ecf0f1;
    --accentcolor: #40ccab;
}

body {
    background-color: var(--secondarycolor);
    font-family: 'Roboto', Arial, sans-serif;
}
h1, h2, h3{
    color: var(--primarycolor);
    text-align: center;
    
    }

a{
    color: var(--accentcolor);
    text-decoration:none;
}

a:hover{
    text-decoration: underline;
}



a{
    text-decoration: underline;
    color:blue
}

.skills-box{
    border: 2px solid#106364;
    border-radius: 10px; 
    padding: 20px; 
    margin: 20px auto;
    background-color: #f4f4f4; 
    max-width: 400px; 
}

.resume{
    text-align: center;
    align-content: center;
}

.contact{
    text-align: center;
}



